/**
 * Moduł buttona
 * Nazwa pliku musi zawierać `.module`, żeby Create React App poprawnie zinterpretował CSS jako CSS module! :)
 */

.Button {
    border: 1px solid rgb(169, 169, 169);
    text-align: center;
    text-transform: uppercase;
    height: 120px;
    width: 311px;
    font-size: 36px;
}

/**
 * Zgodnie z zasadami BEM - modyfikator powinien być poprzedzony nazwą bloku.
 * Dzięki temu połączymy CSS modules i BEM
 */
.Button--small{
    height: 50px;
    width: 100px;
    font-size: 16px;
}
.Button--moderate{
    height: 55px;
    width: 165px;
    font-size: 16px;
}