.wrapper{
    width: 100%;
    height: 750px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
.__stepsBox{
    height: 320px;
    width: 1182px;
    margin-top: 25px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    background-color: rgb(235, 235, 235);
}
