._wrapper{
    background-image: url("footer_bg_img.jpg");
    background-color: rgb(240, 240, 240);
    background-repeat: no-repeat;
    width: 100%;
    height: 956px;
    padding: 114px 100px 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
._form{
    width: 680px;
    height: 500px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    padding: 60px 0 0 60px;
}
._inputWrapper{
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}
._input--short{
     width: 200px;
 }

._input{
    width: 500px;
}
._footer{
    width: 100%;
    height: 150px;
    display: flex;
}
._footer--left{
    flex: 70%;
    box-sizing: border-box;
    padding-top: 100px;
    padding-left: 800px;
}
._footer--right{
    flex: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

._icon{
    font-size: 25px;
}
._icon-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(169, 169, 169);
}

