.small{
    border: 1px solid rgb(169, 169, 169);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    height: 50px;
    width: 100px;
    color: rgb(76, 76, 76);
    font-size: 16px;
}
