.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50%;
    width: 100%;
}
.paragraph{
    font-size: 24px;

}
.decoration{
    background-image: url("./decoration.png");
    background-size: cover;
    width: 253px;
    height: 33px;
}

